    {% if "ssl" in o %}
    bind *:{{ o["port"] }}  ssl crt /certs/certbot/ alpn h2,http/1.1 crt /certs/haproxy/ alpn h2,http/1.1
    {% elif "h2" in o and o["h2"] %}
    bind *:{{ o["port"] }} proto h2
    option http-use-htx
    {% else %}
    bind *:{{ o["port"] }}
    {% endif %}
