    {% if "ssl_cert" in o %}
    bind *:{{ o["port"] }}  ssl crt /etc/haproxy/certs/discover/ crt /etc/haproxy/certs/
    {% elif "h2" in o and o["h2"] %}
    bind *:{{ o["port"] }} proto h2
    option http-use-htx
    {% else %}
    bind *:{{ o["port"] }}
    {% endif %}
